<section
  id="perfil"
  class="flex flex-col md:flex-row justify-center items-center p-10 gap-10 rounded-lg shadow-md"
>
  <div>
    <img
      class="rounded-e-md"
      src="/perfil/gmail/fotoinicial.jpg"
      alt="Aqui va una imagen"
      width="340px"
    />
  </div>
  <div class="w-full md:w-1/2 my-2 flex flex-col justify-center gap-5">
    <h1 class="text-4xl">
      <span
        class="fleur-de-leah-regular bg-gray-900 text-white px-4 rounded-xl"
      >
        Mister Galo 
      </span>
    </h1>
    <div class="text-[0.750rem] sm:text-sm">
      <p>
        - ESCUELA ZEUS
      </p>
      <p>- detaalle 1</p>
      <p>- detalle 2</p>
      <p>- detalle 3</p>
      <p>- detalle 4</p>
      <p>
        - detalle 5
      </p>
    </div>

    <p class="font-bold text-justify text-[0.750rem]">
      Apasionado por la <span class="italic"> “DOCENCIA”.</span> tu niño aprendrá practicas.
   enriquesedoras </p>
    <img src="/firma.webp" alt="firma" class="w-full lg:w-1/2" />
  </div>
</section>
