<div class="flex justify-center items-center py-16 flex-col gap-2">
  <h2    class="text-4xl font-semibold tracking-tight text-balance text-gray-500 sm:text-6xl py-2"  >
    Nuestro Trabajo 💪
  </h2>
  <video class="w-3/4 md:w-1/2 rounded-lg shadow-lg" controls>
    <source src="/video/video.MP4" type="video/mp4" />
    Tu navegador no soporta la reproducción de videos.
  </video>
</div>
<style>
video {
    display: block;
    margin: 0 auto;
   justify-content: center; 
    width: 40%;
    max-width: 400px;
}
</style>
